@import './components/style.scss';

.roadmap {
    padding: 100px 15px;
    background-color: $sec-bg-color;

    .heading {
        font-size: 8rem;
        text-align: center;
        margin: 5rem 0;
    }

    & h2 {
        margin-bottom: 5rem;
    }

    .timeline-items {
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 100%;
            background-color: $main-color;
            left: calc(50% - 1px);
        }
    }
}