section {
    min-height: 90vh;
    padding: 5rem 12% 10rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;

    background-image: url(./images/fone2-2.png);
    background-size: cover;
    background-position: right; 
    background-repeat: no-repeat; 


    .home-content {
        display: flex;
        flex-direction: column;
        align-items: end;
        
        justify-content: end;
        margin-top: 3rem;
        margin-left: 70rem;
        color: white;

        h1 {
            font-family: 'Volja', sans-serif;
            font-size: 7rem;
            font-weight: 700;
            margin-top: 1.5rem;
            line-height: 1;
        }

        h3 {
            font-family: 'UAF Sans', sans-serif;
            margin-bottom: 2rem;
            margin-top: 1rem;
            font-size: 3.5rem;
        }


        p {
            font-family: 'UAF Sans', sans-serif;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.8;
            max-width: 800px;
            text-align: end;
        }

        .social-icons {
            
            a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 4.5rem;
                height: 4.5rem;
                background: transparent;
                border: 2px solid #D8C4A9;
                font-size: 2.5rem;
                border-radius: 50%;
                color: #fff;
                margin: 3rem 1.5rem 3rem 0;
                transition: .3s ease-in-out;

                &:hover {
                    color: $text-color;
                    transform: scale(1.3)translateY(-5px);
                    box-shadow: 0 0 25px #D8C4A9;
                    background-color: #D8C4A9;
                }
            }
        }

        .btn-group {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            .btn {
                font-family: 'Volja', sans-serif;
                display: inline-block;
                padding: 1rem 2.8rem;
                background-color: #D8C4A9;
                box-shadow: 0 0 25px #D8C4A9;
                border-radius: 4rem;
                font-size: 1.6rem;
                font-weight: 400;
                color: #000;
                border: 2px solid transparent;
                letter-spacing: 0.1rem;
                transition: .3s ease-in-out;
                cursor: pointer;
                font-size: 2rem;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 50px #D8C4A9;
                }
            }

            & a:nth-of-type(2) {
                background: none;
                color: #000;
                border: 2px solid #D8C4A9;
                box-shadow: 0 0 25px transparent;

                &:hover {
                    box-shadow: 0 0 25px #D8C4A9;
                    background-color: #D8C4A9;
                    color: #cd9346;
                }
            }
        }
    }

    .home-img {
        border-radius: 50%;

        & img {
            position: relative;
            top: 3rem;
            width: 32vw;
            height: 32vw;
            border-radius: 50%;
            box-shadow: 0 0 25px $main-color;
            cursor: pointer;
            transition: .4s ease-in-out;

            &:hover {
                box-shadow: 0 0 25px $main-color,
                            0 0 50px $main-color,
                            0 0 100px $main-color;
            }
        }
    }
}