@import './components/adminHeader/style.scss';

@import './components/dashboard/style.scss';
@import './components/describe/style.scss';
@import './components/cabinet/style.scss';
@import './components/account/style.scss';

.mainPanel {
    width: 100%;

    .container {
        width: 100%;
        max-height: 90vh;
        height: 100%;
        overflow-y: auto;
        background-color: #F4EDE2;
    }
}