.adminHeader {
    border-bottom: 1px solid #D8C4B0;  
    background-color: #F4E3D0;  
    .profile-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1.75rem 2rem;
        gap: 20px;

        & p {
            font-family: 'UAF Sans', sans-serif;
            color: #8B6B52;  
            font-size: 1.8rem;
            font-weight: 600;
            margin-right: 40px;
        }
    }
}
