.question-box {
    background-color: №545;
    max-width: 500px;
    width: 100%;
    height: 350px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: .4s ease-in-out;
    color: #f5e6d3;
    font-family: 'UAF Sans', sans-serif;

    &:hover {
        background-color: white;
        color: #6F6655;
        box-shadow: 0 0 10px #D8C4A9;
        transform: scale(1.03);
    }

    & .question-info {
        display: flex;
        flex-direction: column;
        text-align: left;
        max-height: 350px;
        justify-content: left;
        align-items: baseline;
        padding: 5rem;

        & h4 {
            font-size: 3rem;
            font-weight: 800;
            line-height: 2;
        }

        & p {
            font-size: 1.6rem;
            font-weight: 600;
            max-height: 300px;
            line-height: 1.7;
            margin: auto;
        }
    }
}