@import './styles/variables.scss';
@import './view/lending/style.scss';

html {
    font-size: 60%;
    overflow-x: hidden;

    scroll-behavior: smooth;
}

body {
    background-color: $bg-color;
    color: $text-color;
}